body{
	font-weight: normal;
	-webmit-text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-family: 'Inconsolata', monospace;
	&.noScroll{
		height: 100vh;
		overflow-y: hidden;
	}	
}


.vertical-spacing{
	margin-top: 40px;
	margin-bottom: 40px;
}

.vertical-spacing-top{
	margin-top: 40px;
}
.vertical-spacing-bottom{
	margin-top: 40px;
}
// -----------------------------------------
//    Typography
// -----------------------------------------
p{
	font-size: $p-FS;
	color: $copy;
	line-height: $p-LH;
	&.sub-header{
		color: $lt-copy;
	}
}

h2{
	font-size: $h2-FS;
	color: $copy;
	line-height: $h2-LH;
}
h5{
	// font-family: OpenSans-Semibold;
	font-size: $h5-FS;
	color: $copy;
	font-weight: bold;
	line-height: 1.5;
	margin: 0px auto 10px;
}





// -----------------------------------------
//    Butons
// -----------------------------------------
.infinite-loop-content{
	@include flex(flex, row, flex-start, space-between);
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	@include width(10,9);
	float: none ;
	margin-left: auto ;
	margin-right: auto ;
}

.btn{
	padding: 15px 35px;
	@include border-radius(50px);
	border:1px solid $copy;
	color: $copy;
	margin-top: 3vh;
	display: inline-block;
	text-align: center;
	@include transition();
	img{
		vertical-align: sub;
		max-height: 20px;
		margin-right: 10px;
	}
	&:hover{
		background-color: #8222FF;
		color: white;
	}
}
.full-screen{
	width: 100vw;
	height: 100vh;
	@include flex(flex, column, center, center);
	text-align: center;
	position: relative;
	.scroll{
		position: absolute;
		bottom: 3vw;
		height: 35px;
		left: 50%;
		@include transform(translateX(-50%));

		img{
			max-height: 35px;
			vertical-align: middle;
		}
	}
}
.block{
	@include flex(flex, column, center, center);
	width: 48%;
	height: calc(38.2368vw * .5625 );
	margin-bottom: 3vw;
	background-color: $grey;
	color: white;
	@include full-bk();
	font-size: 20px;
	position: relative;
	span{
		z-index: 100;
	}
	&:before{
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 0;
		background-color: fade($copy, 30%);
		background-blend-mode: multiply;
		mix-blend-mode: multiply;
	}
}