@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// ==========================================
// Colors
// ==========================================
$copy 		: #000000;
$lt-copy	: #9B9B9B;

$bk-grey 	: #F5F5F5;
$grey  		: #D8D8D8;
$lt-grey 	: lighten($grey, 10%);
// ==========================================
// Typography
// ==========================================
$p-FS 		: 16px;
$p-LH 		: 1.4;

$h2-FS 		: 24px;
$h2-LH 		: 1.2;

$h3-FS 		: 18px;
$h3-LH 		: 1.2;

$h5-FS 		: 14px;

$form-FS 	: 15px;
// ==========================================
// Misc
// ==========================================
$header-height  : 80px;
$row-height     : 35px;
$form-height 	: 50px;
$top-nav-height : 50px;