//===============================================================/
//  Break Point Helpers
//===============================================================/

.hide-on-mobile {
    @media #{$mobile} {
        display: none !important;
    }
    @media #{$tablet} {
        display: none !important;
    }
    @media #{$phone} {
        display: none !important;
    }
}
.hide-on-tablet {
    @media #{$tablet} {
        display: none !important;
    }
}
.hide-on-phone {
    @media #{$phone} {
        display: none !important;
    }
}
.only-on-mobile {
  @media #{$full}{
    display: none !important;
  }
  @media #{$mega}{
    display: none !important;
  }
}
.only-on-phone {
  // @media #{$full}{
    display: none !important;
  // }
  @media #{$phone}{
    display: block !important;
  }
}

//===============================================================/
//  Visible Helpers
//===============================================================/

.hidden{
  display: none !important;
}



//===============================================================/
//  Align Helpers
//===============================================================/


.vert-center{
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.horz-center{
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}
.both-center{
  position: relative;
  left: 50%;
  top: 50%;
  @include transform(translateY(-50%)translateX(-50%));
}

.text-center{
  text-align: center;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.full-width{
  width: 100%;
}

.center{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


//===============================================================/
//  Margin Helpers
//===============================================================/
@for $i from 1 through 15{
  .mt#{$i}{margin-top: 1vw * $i;}
  .mb#{$i}{margin-bottom: 1vw * $i;}
  .pt#{$i}{padding-top: 1vw * $i;}
  .pb#{$i}{padding-bottom: 1vw * $i;}
}



//===============================================================/
//  Grid Helpers
//===============================================================/

@mixin ml($col, $gut){margin-left:  ( ($column*$col) + ($gutter * $gut) );}
@mixin mr($col, $gut){margin-right: ( ($column*$col) + ($gutter * $gut) );}

@mixin ml-mr($col, $gut){
  margin-left:  ( ($column*$col) + ($gutter * $gut) );
  margin-right:  ( ($column*$col) + ($gutter * $gut) );
}

@mixin pl($col, $gut){padding-left: ( ($column*$col) + ($gutter * $gut) );}
@mixin pr($col, $gut){padding-right:( ($column*$col) + ($gutter * $gut) );}

@mixin pl-pr($col, $gut){
  padding-left:  ( ($column*$col) + ($gutter * $gut) );
  padding-right:  ( ($column*$col) + ($gutter * $gut) );
}

@mixin mls($col, $gut){margin-left:  ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;}

@mixin mrs($col, $gut){margin-right: ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;}

@mixin mls-mrs($col, $gut){
  margin-left:  ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;
  margin-right:  ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;
}

@mixin pls($col, $gut){
  padding-left: (($column * $col) + ($gutter * $gut)) + $outerGutter;
}

@mixin prs($col, $gut){
  padding-right: (($column * $col) + ($gutter * $gut)) + $outerGutter;
}

@mixin pls-prs($col, $gut){
  padding-left:  ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;
  padding-right:  ( ($column*$col) + ($gutter * $gut) ) + $outerGutter;
}

@mixin width($columnnum, $gutternum){width: ( ($columnnum*$column)  + ($gutternum * $gutter) );}




@mixin widthStart($columnnum, $gutternum){width: ( ($columnnum*$column)  + ($gutternum * $gutter))  + $outerGutter;}




//===============================================================/
//  Clear Helpers
//===============================================================/
.clear:before {
  content: '';
  display: table;
}
.clear:after {
  content: '';
  display: table;
  clear: both;
}
.no-clear:before {
  content: normal;
  display: inherit;
}
.no-clear:after {
  content: normal;
  display: inherit;
  clear: none;
}

